<div class="container py-5">
  <h1 class="mb-0">Réservez dès maintenant une nuit d'hôtel à <strong> PRIX RÉDUIT</strong> !</h1> <br>
  <div class="container">
    <div class="row row-cols-auto gy-5">
      <% @rooms.each do |room| %>
        <div class="card-room col-5 p-2 br-5">
          <div class="row">
            <div class="col-4">
              <img src="https://source.unsplash.com/random/300x300/?hotel,<%= room.id %>" />
            </div>
            <div class="col-8 card-room-infos">
              <h2>Hôtel : <%= room.hotel.name %> </h2>
              <p>Adresse : <%= room.hotel.address %></p>
              <div>
                <h2 class="card-room-pricing"><%= room.price_per_night %> € / nuit</h2>
              </div>
            </div>
            <div class="col-12 text-center my-3">
              <%= link_to "Voir le détail", new_room_booking_path(room), class:"btn btn-primary search-btn" %>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      <% end %>
    </div>
  </div>
</div>
  <a href="#navbar-example2">
    <i class="fas fa-arrow-circle-up scroll-up-button"></i>
  </a>
<%= render 'shared/footer' %>
